	*{
		font-size: 10px;
		font-family: 'Open Sans', sans-serif;
	}
	body{
		width:70%;
		margin:3% auto 0 auto;
		
	}
	nav{
		width:70%;
		/*position:fixed;*/
		/*z-index: 2;*/
	}
	nav h1{
		float:left;
		font-size: 3rem;
		/*margin:3% auto;*/
	}
	/*nav #search{
		float : left;
	}*/
	article{
		position: absolute;
	    top: 15vw;
	    width: 59%;
	    height: 70%;
	    background: white;
	    left: 26%;
	}
	.real{
		/*background: #e9e9e9;*/
		width:85%;
		position:relative;
		left: 10%;
		height:50px;
		padding-top: 20px;
		/*padding-left: -10px;*/
	}
	 #map {
        height: 100%;
     }
     #emergency{
     	border : 1px #ddd solid;
     	border-radius: 5px;
     	height:30%;
     	padding : 10px;
     	margin-bottom: 20px;
     }
     #emergency p{
     	font-size: 15px;
     }
     #alarm{
     	background: red;
     	color: white;
     	display: inline-block;
     	border-radius: 3px;
     	padding :6px;
     	font-size: 15px;
     }
     .real .search-container {
	  float: left;
	}

	.real input[type=text] {
	  padding: 6px;
	  /*width: 200%;	*/
	  margin-top: 8px;
	  font-size: 17px;
	  border: 4px solid #ddd;
	}
	.real .search-container button {
	  float: right;
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: #ddd;
	  font-size: 17px;
	  border: 4px solid #ddd;
	  cursor: pointer;
	}
	.real a {
	  float: right;
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  width:60px;
	  text-decoration: none;
	  border-radius: 10px;
	  background: #ddd;
	  font-size: 15px;
	}
	.real a:hover {
	  background-color: #ddd;
	  color: black;
	}
	#content{
		padding-top: 10px;
		height:70%;
		/*background: yellow;*/
	}
	#waggle_indiv{
		border:2px solid black;
		width:60%;
		height:100%;
		float:left;
	}
	#waggle_total{
		float:left;
		background: blue;
		width:35%;
		height: 100%;
		background: #e9e9e9
	}

     /* Responsive */
     @media screen and (max-width: 1100px){


     }

