	*{
		font-size: 10px;
	}
	body{
		width:70%;
		margin:3% auto 0 auto;
		
	}
	nav{
		width:70%;
		position:fixed;
		z-index: 2;
	}
	nav h1{
		float:left;
		font-size: 3rem;
		/*margin:3% auto;*/
	}
	/*nav #search{
		float : left;
	}*/
	article{
		position: absolute;
	    top: 10vw;
	    width: 59%;
	    height: 70%;
	    background: white;
	    left: 26%;
	}
	.real{
		background: #e9e9e9;
		width:85%;
		position:relative;
		left: 15%;
		height:50px;
	}
	 #map {
        height: 100%;
     }
     #emergency{
     	border : 2px black solid;

     	height:20%;
     }
     .real .search-container {
	  float: left;
	}

	.real input[type=text] {
	  padding: 6px;
	  margin-top: 8px;
	  font-size: 17px;
	  border: none;
	}
	.real .search-container button {
	  float: right;
	  padding: 6px 10px;
	  margin-top: 8px;
	  margin-right: 16px;
	  background: #ddd;
	  font-size: 17px;
	  border: none;
	  cursor: pointer;
	}
	.real a {
	  float: right;
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	}
	.real a:hover {
	  background-color: #ddd;
	  color: black;
	}
	#content{
		padding-top: 10px;
		height:70%;
		/*background: yellow;*/
	}
	#waggle_indiv{
		border:2px solid black;
		width:60%;
		height:100%;
		float:left;
	}
	#waggle_total{
		float:left;
		background: blue;
		width:35%;
		height: 100%;
		background: #e9e9e9
	}

     /* Responsive */
     @media screen and (max-width: 1100px){


     }

