<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <% include('./header.ejs') %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 10%;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <a href="/statistic">statistic</a>
    <a href="/sensor">sensorTest</a>
    <div id="map"></div>
    <script>

      var labels = 'waggle waggle';
      var labelIndex = 0;     

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Austrailia</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Waggle</b>waggle in here <b>holalala</b> ehehhe<p>' +
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Autstrailia'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    async defer></script>
  </body>
</html>