<!DOCTYPE html>
<html>

<head>
	<title>WBMS</title>
	<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/stylesheet/deco.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

</head>	
<body>
	<nav>
		<h1>WBMS</h1>
		<div class="real">
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <a href="/statistic">Statistic</a>
			<a href="/statistics">Statistics</a>
      <a href="/sensor">sensorTest</a>
		</div>	
	</nav>
	<article>
		<div id=alarm>EMERGENCY</div>
    <div id="emergency">
      <p> - Purdue : Only 15% of battery left.</p>
      <p> - West Lafayette</p>
      <p> - Chicago</p>
  	</div>
	
	<div id="map"></div>
    <script>

      var labels = 'waggle waggle';
      var labelIndex = 0;     

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Austrailia</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Waggle</b>waggle in here <b>holalala</b> ehehhe<p>' +
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Autstrailia'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    async defer></script>
	</article>	
	
</body>
</html>