<div class="row ">
  <h1>Show sensor DB </h1>
    <a> Temperature : </a> <%= sensors[0].temperature %> <br>
    <a> SOC : </a> <%= sensors[0].soc %> <br>
    <a> Date : </a> <%= sensors[0].date %> <br><br>
</div>