<div class="row ">
  <h1>Show sensor DB </h1>
  <% sensors.forEach(function(sensor) { %>
    <a> Temperature : </a> <%= sensor.temperature %> <br>
    <a> SOC : </a> <%= sensor.soc %> <br>
    <a> Date : </a> <%= sensor.date %> <br><br>
  <% }) %>
</div>