<div class="row ">
  <h1>Show sensor DB </h1>
  <% sensors.forEach((sensor) => {%>
    <a> id : </a> <%= sensor.id %> <br>
    <a> Temperature : </a> <%= sensor.temperature %> <br>
    <a> batteryRemain : </a> <%= sensor.batteryRemain %> <br>
    <a> Date : </a> <%= sensor.date %> <br><br>
  <% }); %>
</div>