<!DOCTYPE html>
<html>
<head>
  <title>WBMS</title>
  <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/stylesheet/deco.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head> 
<body>
  <nav>
    <h1>WBMS</h1>
    <div class="real">
      <!-- <div id="search">
        <input type="text">
        <button>search</button>
      </div> -->
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <a href="/statistics">Statistics</a>

<!--       <div class="topnav">
        <div class="search-container">
        <form action="">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        </div>

        <a class="active" href="#home">Home</a>
        <a href="#statistics">Statistics</a>
      </div> -->

    </div>  
  </nav>
  <article>
  <div id="emergency">
    EMERGENCY
  </div>
  <p></p>
  <div id="map"></div>
    <script>

      var labels = 'waggle waggle';
      var labelIndex = 0;     

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Austrailia</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Waggle</b>waggle in here <b>holalala</b> ehehhe<p>' +
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Autstrailia'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
    async defer></script>
  </article>  
  
</body>
</html>