<!DOCTYPE html>
<html>
<head>
  <title>WBMS</title>
  <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/stylesheet/deco.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head> 
<body>
  <nav>
    <h1>WBMS</h1>
    <div class="real">
      <!-- <div id="search">
        <input type="text">
        <button>search</button>
      </div> -->
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <a href="/main">Maps</a>

    </div>  
  </nav>
  <article>
  <div id="emergency">
    This is statistics page
  </div>
  
  <div id="content">
    <div id="waggle_indiv">
      Purdue

    </div>
    <div id="waggle_total">
      total
    </div>
  </div>


  </article>  
  
</body>
</html>